extends _layout

block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
  script(src='/express-public' + version + '/javascripts/jquery.tablesorter.min.js')
  script(src='/express-public' + version + '/javascripts/jquery.tablesorter.pager.js')

  div.header
        h2.center-block REEEMgame 
  div
   table#worldsTable(cellspacing="0" cellpadding="0")
    thead
     tr
      th 
        span World ID
      th 
        span Name 
      th
        span Status
      th
        span Month
      th
        span Year
      th 
        span Score
      th
        span Highscore
      th
        span Last Active
      th
        span Created
    tbody
    each world in worlds
        tr
          td #{world.idcode}    
          td #{world.name} 
          td
            div(id='status' + world.idcode) #{world.status}     
          td
            div(id='month' + world.idcode) #{world.month}    
          td
            div(id='year' + world.idcode) #{world.year}    
          td
            div(id='score' + world.idcode) #{world.score}    
          td 
            div(id='highscore' + world.idcode) #{world.highscore}    
          td 
            div(id='lastActive'+world.idcode) #{world.lastActive}
          td #{world.created} 
   //div#pager.pager
     form
        img(src="/express-public" + version+"/icons/first.png").first
        img(src="/express-public" + version+"/icons/prev.png").prev
        input(class="pagedisplay")
        img(src="/express-public" + version+"/icons/next.png").next
        img(src="/express-public" + version+"/icons/last.png").last
        select.pagesize(title="Select page size")
          option(value="10") 10
          option(value="20") 20
          option(value="50") 50
          option(value="100") 100
       
      
   script(src='/express-public' + version + '/dist/listOfWorldsUpdaterBundle.js')
   script(src='/express-public' + version + '/dist/connectionMainBundle.js')
   script.
     $.tablesorter.addParser({ 
        id: 'month', 
        is: function(s) { 
            //return false so this parser is not auto detected 
            return false; 
        }, 
        format: function(month) { 
            var months = ["January", "February", "March", "April", "May","June", "July", "August", "September", "October", "November", "December"];
            for (var i = 0; i< 12; i++) {
                if (months[i] == month) {
                    return i;
                }
            }
        },
        // set type, either numeric or text 
        type: 'numeric' 
     }); 
     $(document).ready(function() { 
        $("table")
           .tablesorter({
            widthFixed: true, 
            widgets: ['zebra'],
            dateFormat : "ddmmyyyy",
            headers:{
                   7: {
                     sorter: "shortDate"
                     },
                   3: {
                     sorter: 'month'
                     }
                 }
             })
            //.tablesorterPager({
            //    container: $("#pager")}); 
     }); 


       var worlds = !{JSON.stringify(worlds)};
       var worldIDs = []
       
       var path = "/game11/socket.io";
       var connection = new connectionMainBundle.MainScreenConnection(path,worldIDs); 
       new listOfWorldsUpdaterBundle.ListOfWorldsUpdater(connection, worlds);

     