extends _layout

block content

 div.div1#div1pincode
      div.div2 
        h2 ReeemGame
        h3 An email has been sent to #{email} with a verification code
      
        form(method='POST' action='#{path}/verifyNewUser')
            input(id='verificationCode' type='text' name='code' value='verification code')
            .br
            input(type='hidden' name='worldID' value=worldID)
            input(type='hidden' name='username' value=username)
            button(class='participantButton' type='submit') Confirm
        form(method='POST' action='#{path}/resendVerificationCode')
            input(type='hidden' name='worldID' value=worldID)
            input(type='hidden' name='username' value=username)
            input(type='hidden' name='email' value=email)
            button(class='participantButton' type='submit') Resend Verifcation Code
       append content2
       script.
        $(() => {
          $("body").css('background', '#90D9E8');
          $(".div1").css('background', '#90D9E8');
          $( "#verificationCode" ).on('focus', () => {
                 $( "#verificationCode" ).val("");
          });
        });
  