extends _layout

block content
 div.div1#mainDiv
      div.div2 
        h2 ReeemGame
        h5 A reset code has been sent to your email address. 
        h5 Please enter this code and a new password below.
      
        form(method='POST' action='#{path}/resetPassword')
            input( type='text' name='verificationCode' placeholder='Code' required)
            .br
            input( type='text' name='password' placeholder='New Password' required minlength=6)
            .br
            input(type='hidden' name='worldID' value=worldID)
            input(type='hidden' name='username' value=username)
            button(class='participantButton' type='submit') Confirm New Password
        form(method='POST' action='#{path}/resendResetPasswordCode')
            input(type='hidden' name='worldID' value=worldID)
            input(type='hidden' name='username' value=username)
            button(class='participantButton' type='submit') Resend Reset Code        
        form(method='get' action='#{path}/')
            input(type='hidden' name='worldID' value=worldID)
            button(class='participantButton' type='submit') Back to login page

      append content2


       script.
        $(() => {
          $("body").css('background', '#90D9E8');
          $(".div1").css('background', '#90D9E8');
        });
  