extends _layout
//worldID nickname
block content
  div#div1pincode
      div.div2 
        h2 ReeemGame
        h3 World ID: #{worldID}
        h3 Nickname: #{nickname}
         
          form(method='POST' action='#{path}/participantPincode')
            input(id='pincodeInput' type='text' name='pincode' value='PIN' )
            input(type='hidden' name='worldID' value=worldID)
            input(type='hidden' name='nickname' value=nickname)
            .br
            button(id='pincodeButton' type='submit') Ok, go!
    div.help
      a(id='worldIDRegret' href='#{path}enterWorld?worldPassword=#{worldID}' worldID=worldID nickname=nickname) I want to choose another Nickname
    append content3    


      script.
        $(() => {
          $("body").css('background', '#90D9E8');
          $(".div1").css('background', '#90D9E8');
          //$("body").css('background', '#90D9E8');
          //$( "#participantNameInput" ).css('width', 200);
          //$( "#participantNameInput" ).css('width', 200);
          //$( "#participantNameInput" ).css('border', '3px grey solid');
          $( "#pincodeInput" ).on('focus', () => {
                 $( "#pincodeInput" ).val("");
                 });
          //$( "#participantNameButton" ).css('border', '3px grey solid');          
          //$( "#participantNameButton" ).css('width', 200);
          //$( "#participantNameButton" ).css('background', 'grey');
          //$( "#participantNameButton" ).css('color', 'white');
        });
