extends _layout
//pathways indicators
block content
   script.
     $("body").css('background', '#A1F3F9');
   script(src="https://www.gstatic.com/charts/loader.js")
   link(rel='stylesheet', type='text/css', href='/express-public' + version + '/stylesheets/sideMenuStyle.css')
   //script(src='/express-public' + version +'/twoAreasData.js')
   //script(src='/express-public' + version +'/AllstateDataMin.js')
   //script(src='/express-public' + version +'/AllEUstateData.js')
   //script(src='/express-public' + version +'/AllEUstateDataPlus2Browser.js')
   div(id='pWorld')
     div.wrapper 
      nav(id='sidebar').nav.expanded
       div.menuItems
         div#accordionContainer.scrollbar.style-1
           div(id='pathways')
               p
                 span.menuHeading Pathways
               div.accordionContent
                 ul
                   each pathway in pathways
                     li
                       button(id='pathway#{pathway}') #{pathway}
                       
           div#indicators 
             p
               span.menuHeading Indicators
                 div.accordionContent#indicatorButtons
                   ul
                     each indicator in indicators
                       li
                         button(id='indicator#{indicator}') #{indicator}
      div(id="content")
       div#menubar
               table 
                  tbody
                     tr
                        td
                            div.nav-toggle.expanded
                              div.nav-toggle-bar.expanded
                                    
                        td
                            div#titleDiv ReeemBrowser
                        td
                            div#worldIdDiv 
       table(id='dateTable')
        tbody
          tr
            td
              #month.date 
            td
              #year.date 
       div#simulationNumber.menu.date 
       div(id='pMap') 
     
       
       div#timeBarContainer 
        div#progressBar.progress.dateProgress
         div.progress-bar.dateProgressValue( role="progessbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; transition:none;")
        div#progressBarSlider.progress.dateProgress(style="display:none")
         div#custom-handle.ui-slider-handle.leftHandle
         div#custom-handle-locked.ui-slider-handle.rigthHandle
     

   script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
   script(src='/express-public' + version + '/dist/connectBundle.js')
   script(src='/express-public' + version + '/dist/browserBundle.js')
   
   script.
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
     });

     $(function() {

         var hamburger = {
            navToggle: document.querySelector('.nav-toggle'),
            nav: document.querySelector('nav'),

            doToggle: function(e) {
                e.preventDefault();
                this.navToggle.classList.toggle('expanded');
                this.nav.classList.toggle('expanded');
            }
        };

        hamburger.navToggle.addEventListener('click', function(e) { hamburger.doToggle(e); });

        }());

      $(function() {//Add and remove class expanded when window er resized
        var $window = $(window)

        function resize() {
            if ($window.width() > 768) {
                $('.nav-toggle').addClass('expanded');
                $('nav').addClass('expanded');
            } else {
                $('.nav-toggle').removeClass('expanded');
                $('nav').removeClass('expanded');
           }
        }

        $window
            .resize(resize)
            .trigger('resize');
     }());

    $( function() {
      // Load the Visualization API and the corechart package.
      
      google.charts.load('current', {'packages':['corechart']});
      var connection = new connectBundle.Connection(0, "/game11");
      google.charts.setOnLoadCallback(function() {
        var browser = new browserBundle.ReeemBrowser(connection, !{JSON.stringify(pathways)}, !{JSON.stringify(indicators)});
        });
      });

      
  
      
     
